a { text-decoration: none; }
body{
    margin:0;
    padding:0;
    background:linear-gradient( #79C7FF, white);
}
.header{
    width:1920px;
    height:144px;
    background-color:#3BA3DE;
    border-radius:19px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.name{
    width:414px;
    height:93px;
    font-size:68px;
    color:white;
    display:flex;
    flex-wrap:wrap;
    margin-top:29px;
}
.icon-name{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 50px;
}
.icon-name:hover{
    cursor: hand;
}
.icon{
    height: 40px;
    width: 40px;
    background-size: 100% 100%;
    margin-top: -30px;
    margin-right: 60px;
    float: right;

}
.icon-logout{
    background-image: url("Photo/Vector 20.png");
}
.icon-cart{
    background-image: url("Photo/Group 1.png");
}
.icon-editor{
    background-image: url("Photo/Vector 21.png");
}
.dostavka{
    width: 514px;
    height: 263px;
    background-color: #3BA3DE87;
    margin-top: 100px;
    border-radius: 27px;
    margin-left: 250px;
}
.krug{
    width: 102px;
    height: 102px;
    background-color: white;
    border-radius: 100px;
    margin-top: 0px;
    margin-left: 20px;
}
.krug1{
    width: 73px;
    height: 75px;
    background-image: url("Photo/Vector 1.png");
    margin-left: 15px;
}
.dos{
    width: 179px;
    height: 31px;
    color: white;
    font-size: 40px;
    margin-left: 160px;
    margin-top: -70px;
}
.skidka{
    width: 514px;
    height: 263px;
    background-color: #3BA3DE87;
    margin-top: -260px;
    border-radius: 27px;
    margin-left: 1000px;
}
.krug11{
    width: 77px;
    height: 28px;
    font-size: 24px;
    top: 220px;
    left: 1035px;
    position: absolute;
}
.mel{
    width: 297px;
    height: 169px;
    background-color: #3BA3DE87;
    border-radius: 27px;
    margin-left: 199px;
    margin-top: 59px;
}
.so{
    width: 242px;
    height: 25px;
    color: white;
    font-size: 32px;
    margin-top: 36px;
    margin-left: 27px;
}
.so1{
    width: 175px;
    height: 18px;
    color: #C4E2F3;
    font-size: 24px;
    margin-top: 48px;
    margin-left: 27px;
}
.so2{
    width: 251px;
    height: 58px;
    color: #C4E2F3;
    font-size: 24px;
    margin-top: 48px;
    margin-left: 27px;
}
.mel1{
    width: 297px;
    height: 169px;
    background-color: #3BA3DE87;
    border-radius: 27px;
    margin-left: 607px;
    margin-top: -205px;
}
.mel2{
    width: 297px;
    height: 169px;
    background-color: #3BA3DE87;
    border-radius: 27px;
    margin-left: 1015px;
    margin-top: -205px;
}
.mel3{
    width: 297px;
    height: 169px;
    background-color: #3BA3DE87;
    border-radius: 27px;
    margin-left: 1423px;
    margin-top: -205px;
}
.promo{
    width: 836px;
    height: 169px;
    background-color: #3BA3DE8C;
    border-radius: 27px;
    margin-left: 41px;
    margin-top: 59px;
}
.promo1{
    width: 347px;
    height: 29px;
    color: white;
    font-size: 32px;
    margin-left: 36px;
    margin-top: 27px;
}
.promo2{
    width: 513px;
    height: 48px;
    margin-top: 28px;
    margin-left: 36px;
    border-radius: 10px;
}
.promo3{
    width: 203px;
    height: 50px;
    background-color: #4891C6;
    border-radius: 20px;
    color: white;
    font-size: 32px;
}
.promo11{
    width: 836px;
    height: 169px;
    background-color: #3BA3DE8C;
    border-radius: 27px;
    margin-left: 1043px;
    margin-top: -195px;
}
.promo22{
    width: 474px;
    height: 67px;
    color: #D8E6EF;
    font-size: 27px;
    margin-top: 18px;
    margin-left: 44px;
}