a { text-decoration: none; }
body{
    margin:0;
    padding:0;
}
.login{
    margin: 130px auto;
    height: 400px;
    width: 260px;
    border-radius: 10px;
    background-color: #3BA3DE;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    margin-top: 240px;
}
.login-header{
    height: 40px;
    width: 260px;
    color: white;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin: 10px;
}
.reg-text{
    color: white;
    height: 20px;
    width: 260px;
    margin-left: 10px;
}

.reg-select{
    font-size: 15px;
    height: 20px;
    width: 240px;
    border: none;
    border-radius: 3px;
    margin-bottom: 5px;
}

.reg-input{
    font-size: 15px;
    height: 20px;
    width: 240px;
    border: none;
    border-radius: 3px;
    margin-bottom: 5px;
}

.reg-textaria{
    font-size: 15px;
    height: 110px;
    width: 240px;
    border: none;
    border-radius: 3px;
    margin-bottom: 5px;
    resize: none;
}

.reg-button{
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(246, 246, 246);
    border: none;
    height: 40px;
    width: 240px;
    margin-top: 55px;
}

.reg-button:hover{
    background-color: rgb(255, 255, 255);
    cursor: hand;
}

.header{
    width:1920px;
    height:144px;
    background-color:#3BA3DE;
    border-radius:19px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.name{
    width:414px;
    height:93px;
    font-size:68px;
    color:white;
    display:flex;
    flex-wrap:wrap;
    margin-top:29px;
}
.fon{
    height:1080px;
    width: 1900px;
    background:linear-gradient( #79C7FF, white);
    position: absolute;
}
.profil{
    width:56px;
    height:56px;
    display:flex;
}
.p1{
    color:white;
    font-size:23px;
    margin-top:-80px;
    margin-left:1700px;
}