body{
    margin:0;
    padding:0;
}
.fon{
    height:1080px;
    background:linear-gradient( #79C7FF, white);

}
.header{
    width:1800px;
    height:144px;
    background-color:#3BA3DE;
    border-radius:19px;
    position:absolute;
    margin-top:53px;
    margin-left: 30px;
    display:flex;
}
.logotip{
    margin-top:25px;
    
}
.name{
    width:414px;
    height:93px;
    font-size:68px;
    color:white;
    display:flex;
    flex-wrap:wrap;
    margin-top:29px;
}
.poisk{
    width:704px;
    height:48px;
    border-radius:12px;
    margin-top:45px;
    font-style:normal;
    font-size:145%;
    text-transform:none;
}
.lupa{
    width:35px;
    height:36px;
    position:absolute;
    left:1185px;
    top:54px;
}
.l1{
    width:35px;
    height:36px;
    position:absolute;
    left:1185px;
    top:54px;
    background-color:rgba(0, 0, 0, 0);
    border:0;
}
.zakaz{
    width:56px;
    height:56px;
    display:flex;
    flex-wrap:wrap;
    margin-top:31px;
    margin-left:10px;
}
.z1{
    color:white;
    font-size:25px;
    margin-left:80px;
}
.korzina{
    width:56px;
    height:56px;
    display:flex;
    margin-left:11px;
}
.k1{
    color:white;
    font-size:23px;
    margin-top:32px;
    margin-left:60px;
}
.profil{
    width:56px;
    height:56px;
    display:flex;
}
.p1{
    color:white;
    font-size:23px;
    margin-top:32px;
    margin-left:60px;
}
.geo{
    width:16px;
    height:23px;
    margin-left:1590px;
    margin-top:232px;
}
.g1{
    width:155px;
    height:47px;
    border-radius:13px;
    border:1;
    border-color:#3BA3DE;
    display:flex;
    margin-left:1613px;
    margin-top:-40px;
    appearance:none;
    font-style:normal;
    font-size:140%;
    text-transform:none;
    background-color:#a2d5fa;
}
.wo{
    width:385px;
    height:271px;
    border-radius:64px;
    display:flex;
    flex-wrap:wrap;
    margin-left:98px;
    background: url(Photo/Rectangle\ 5.png);
}
.wo:hover{
    background: url(Photo/Group\ 12.png);
    transition:all 0.4s linear;
}
.co{
    width:385px;
    height:271px;
    border-radius:64px;
    display:flex;
    flex-wrap:wrap;
    margin-left:535px;
    margin-top:-273px;
    background: url(Photo/Rectangle\ 12.png);
}
.co:hover{
    background: url(Photo/Group\ 13.png);
    transition: all 0.4s linear;
}
.mo{
    width:385px;
    height:271px;
    border-radius:64px;
    display:flex;
    flex-wrap:wrap;
    margin-left:975px;
    margin-top:-272px;
    background: url(Photo/Rectangle\ 13.png);
}
.mo:hover{
    background: url(Photo/Group\ 14.png);
    transition:all 0.4s linear;
}
.ko{
    width:385px;
    height:271px;
    border-radius:64px;
    display:flex;
    flex-wrap:wrap;
    margin-left:98px;
    margin-top:80px;
    background: url(Photo/Rectangle\ 14.png);
}
.ko:hover{
    background: url(Photo/Group\ 15.png);
    transition:all 0.4s linear;
}
.toy{
    width:385px;
    height:271px;
    border-radius:64px;
    display:flex;
    flex-wrap:wrap;
    margin-left:537px;
    margin-top:-273px;
    background: url(Photo/Rectangle\ 15.png);
}
.toy:hover{
    background: url(Photo/Group\ 16.png);
    transition:all 0.4s linear;
}
.dun{
    width:385px;
    height:271px;
    border-radius:64px;
    display:flex;
    flex-wrap:wrap;
    margin-left:976px;
    margin-top:-273px;
    background: url(Photo/Rectangle\ 16.png);
}
.dun:hover{
    background: url(Photo/Group\ 17.png);
    transition:all 0.4s linear;
}
.katalog{
    width:412px;
    height:712px;
    border-radius:27px;
    margin-left:1415px;
    margin-top:-600px;
    background-color:#3BA3DE8C;
}
.zagolovok{
    width:186px;
    height:53px;
    font-size:48px;
    color:white;
    margin-left:113px;
}
.naz{
    color: white;
    font-size: 30px;
    margin-left: 86px;
    margin-top: -10px;
}
.podval{
    width:1920px;
    height:600px;
    background: linear-gradient(white, #476A7E);
}
.qr1{
    width:241px;
    height:312px;
    margin-left:90px;
    padding-top:124px;
}
.yar1{
    width:36px;
    height:36px;
    position:absolute;
    top:1380px;
    left:140px;
}
.yar11{
    width:36px;
    height:36px;
    position:absolute;
    top:1380px;
    left:140px;
    background-color:rgba(0, 0, 0, 0);
    border:0;
}
.yar2{
    width:36px;
    height:36px;
    position:absolute;
    top:1380px;
    left:190px;
}
.yar12{
    width:36px;
    height:36px;
    position:absolute;
    top:1380px;
    left:190px;
    background-color:rgba(0, 0, 0, 0);
    border:0;
}
.yar3{
    width:36px;
    height:36px;
    position:absolute;
    top:1380px;
    left:240px;
}
.yar13{
    width:36px;
    height:36px;
    position:absolute;
    top:1380px;
    left:240px;
    background-color:rgba(0, 0, 0, 0);
    border:0;
}
.qr2{
    width:242px;
    height:273px;
    margin-left:419px;
    margin-top:-275px;
}
.help{
    width:340px;
    height:300px;
    margin-left:745px;
    margin-top:-320px;
}
.h1{
    color:white;
    font-size:24px;
}
.cooperation{
    width:360px;
    height:218px;
    margin-left:1106px;
    margin-top:-320px;
}
.company{
    width:309px;
    height:249px;
    margin-left:1528px;
    margin-top:-240px;
}

a { text-decoration: none; }