{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Login</title>
    {% block title %}Логин{% endblock %}
</head>
<body>
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <form action="/login" method="post" class="form-login mt-5">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input type="password" id="password" name="password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}