.product-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
}

.product-image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.product-card button {
    width: 100%;
}

.form-signup {
    max-width: 400px;
    padding: 15px;
    margin: auto;
}

